body {
  font-family: "Inter", sans-serif;
  background-color: #0f172a; /* Azul escuro */
  color: #f8fafc; /* Branco suave */
}
.section-heading {
  border-bottom: 2px solid #334155; /* Cinza escuro para separação */
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
  text-align: center;
}
.card {
  background-color: #1e293b; /* Azul escuro mais claro para cartões */
  border-radius: 0.75rem; /* Cantos arredondados */
  padding: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.project-card {
  background-color: #1e293b;
  border-radius: 0.75rem;
  padding: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}
.project-card:hover {
  transform: translateY(-5px);
}
.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
